<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>portfolio</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="header">
    <div class="block_header">
      <div class="logo"><a href="index.html"><img src="images/logo.gif" width="458" height="129" border="0" alt="logo" /></a></div>
      <div class="search">
          <form id="form1" name="form1" method="post" action="">
            <label>
              <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="Search..." />
              <input name="b" type="image" src="images/search.gif" class="button" />
            </label>
          </form>
      </div>
      <div class="clr"></div>
       <div class="menu">
        <ul>
            <li><a href="index.html" ><span>Home</span></a></li>
             <li><a href="services.html"><span>Services</span></a></li>                       
            <li><a href="portfolio.html" class="active"><span>Portfolio</span></a></li>
            <li><a href="services.html"><span>About us</span></a></li>
            <li><a href="contact.html"><span>Contact us</span></a></li>
          </ul>
      </div>
      <div class="clr"></div>
      <div class="header_text2">
                   <h2>Our Portfolio</h2>
                   <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many.</p>
    <div class="clr"></div>
          </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="body">
  <div class="bgg2">
  <div class="left2">
  <p><strong>It has survived not only five centuries, but also the leap into  electronic typesetting, remaining essentially unchanged. </strong></p>
  <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop  publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  <p>&nbsp;</p>
  
  <img src="images/port_1.jpg" alt="picture" width="333" height="155" class="floated" />
  <p><a href="#">Lorem Ipsum has been</a></p>
  <p>Industry's standard dummy text ever since thes, when an unknoprinter.</p>
  <p><a href="#"><img src="images/read_more_2.gif" alt="picture" width="94" height="16" border="0" /></a></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <div class="bg2"></div>
  <p>&nbsp;</p>
  
  <img src="images/port_2.jpg" alt="picture" width="333" height="155" class="floated" />
  <p><a href="#">Lorem Ipsum has been</a></p>
  <p>Industry's standard dummy text ever since thes, when an unknoprinter.</p>
  <p><a href="#"><img src="images/read_more_2.gif" alt="picture" width="94" height="16" border="0" /></a></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <div class="bg2"></div>
  <p>&nbsp;</p>
  
  <img src="images/port_3.jpg" alt="picture" width="333" height="155" class="floated" />
  <p><a href="#">Lorem Ipsum has been</a></p>
  <p>Industry's standard dummy text ever since thes, when an unknoprinter.</p>
  <p><a href="#"><img src="images/read_more_2.gif" alt="picture" width="94" height="16" border="0" /></a></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <div class="bg2"></div>
  <div class="portfolio"><a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a></div>
  </div>
  <div class="right2">
  <h2>Sub Navigation</h2>
  <ul>
    <li><a href="#">HTML Themes</a></li>
    <li><a href="#">PSD Themes</a><br />
    </li>
    <li><a href="#">Drupal Themes</a></li>
    <li><a href="#">Joomla Themes</a></li>
    <li><a href="#">Logos</a>    </li>
  </ul>
  <p>&nbsp;</p>
  <h2>Testimonials</h2>
  <p><em>“It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Content here, content here', making it look like readable Englis</em></p>
  <p><strong>-John Smith, webdesigner</strong></p>
  </div>
    <div class="clr"></div>
  </div>
   <div class="clr"></div>
  </div>
   <div class="clr"></div>
  <div class="footer">
  <div class="footer_resize">
  <ul>
    <li><a href="index.html">home</a></li>
    <li><a href="services.html">services</a></li>
    <li><a href="portfolio.html">portfolio</a></li>
    <li><a href="services.html">about</a></li>
    <li><a href="contact.html">contact</a></li>
    <li><a href="portfolio.html">rss feed</a></li>
    <li><a href="#"><img src="images/twitter.gif" alt="twitter" width="80" height="15" border="0" /></a></li>
    </ul>
  <p>Copyright © Sitename.com. <a href="http://dreamtemplate.com/">dreamtemplate.com</a>. All Rights Reserved</p>
  <div class="clr"></div>
  </div>
</div>
</div>
</body>
</html>